.profileC{
    display: flex;
    flex-direction: column;
    padding: 40px 15%;
}

.datosC{
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto-miniC{
    width: 360px;
    height: 360px;
    border-radius: 50%;
    padding: 0px 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.detallesC{
    display: flex;
    flex-direction: column;
    padding: 5%;
}

.anunciosC{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.tituloDetalleC{
    text-align: center;
    padding: 16px 0px;
}

.botonesEdicion{
    display: flex;
    justify-content: space-evenly;
    margin: 16px 0px;
}