.formulario{
    display: flex;
    justify-content: center;
    margin: 80px 50px;
    flex-wrap: wrap;
    gap: 25px;
}

.formulario form{
    background-color: #f7f7f7;
    box-shadow: 7px 7px 7px rgba(0,0,0,0.08);
    border-radius: 20px;
    padding: 45px 100px;
    flex: 1;
    max-width: 50%;
    min-width: 580px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario h2{
    font-size: 32px;
    font-weight: 400;
    color: #212121;
    text-align: center;
    margin: 16px 0px;
}

.botonLogin{
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.dropzone {
    max-width: 40%;
    border: 2px dashed #cccccc;
    border-radius: 4px;
    padding: 0px 20px;
    text-align: center;
    display: flex;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

.contenidoAnuncio{
    display: flex;
    flex-direction: column;
}

.contenidoAnuncio--informacion{
    display: flex;
    margin:4px 0px; 
}


.informacion--producto{
    width: 65%;
}

.informacion--precio{
    width: 35%;
}

.foto--prop{
    /* position: relative;
    left: -90px;
    top: -80px; */
}