.footer{
    width: 100%;
    display: flex;
    padding: 3%;
    align-items: center;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    justify-content: space-between;
    background-color: #d8bd73;
    font-family: 'Montserrat', 'sans-serif';
    font-size: 20px;
}

.redes{
    display: flex;
}

.redes img{
    padding: 0px 15px;
}