.form--newPassword{
    display: flex;
    flex-direction: column;
    height: 480px; 
    justify-content: center;
    align-items: center;
}
.contenidoFNP{
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 0px;
}

.botonFNP{
    padding: 12px 0px;
}